<template>
  <div class="Results">
      <h1>Results: </h1>
         <p>You got<b> {{correct}}</b> correct answers</p>
         <p>This is equialent to <b>{{correct*10}}</b> points</p>
            <!-- Loading some awesome memes to display your level of skill-->
       <img v-bind:src=this.imgSrc>
        <div class="buttonController">
               <button @click="displayQuestionsAndAnswers()">"Press here to display answers"</button>
               <button @click="startOver()">"Press here to start over"</button>

        </div>
        <div v-if="questionsAndAnswers" class="containerOfAllQuestions">
       <div class="allQuestions">
      <ol><h5>If you wanna see how you can improve: Here are the questions with correct answer:</h5>
        <li v-for="(questions,index) in this.arrayOfAllQuestions" :key="index" v-html="questions"></li>
    </ol>
     </div>
    <div class="allAnswers">
    <div class="correctAnswers">
      <ol><b>The Correct Answers:</b>
        <li v-for="(questions) in this.arrayOfAllCorrectAnswers" :key="questions" v-html="questions"></li>
    </ol>
    </div>
    <div class="wrongAnswers">
    <ol> <b>You answered: </b>
      <li v-for="answersFromPlayer in this.arrayOfAnswerFromPlayer" :key="answersFromPlayer" v-html="answersFromPlayer"></li>
    </ol>
    </div>
      <div class="CorrectOrWrong">
    <ol> <b>Correct or wrong: </b>
      <li v-for="correctOrFalse in this.arrayOfCorrectOrFalse" :key="correctOrFalse" v-html="correctOrFalse"></li>
    </ol>
    </div>
    </div>
  </div>
  </div>
</template>

<script>
export default  {
   props:['correct','arrayOfAllQuestions','arrayOfAllCorrectAnswers','arrayOfAnswerFromPlayer'],
   data(){
    return{
        imgSrc: 0,
        questionsAndAnswers: false,
        arrayOfCorrectOrFalse: []
    }
   },
   methods:{
       chooseMeme(){
           console.log(this.arrayOfAllQuestions);
            if(this.correct>0 &&this.correct<=3){
                this.imgSrc="https://i.kym-cdn.com/entries/icons/mobile/000/001/007/WAT.jpg";
                }
            else if(this.correct<=7 &&this.correct>3 ){
                this.imgSrc="https://i.chzbgr.com/full/8056178432/h712F84EC/when-it-comes-to-being-average-im-above-average-at-it";
                }
            else if(this.correct<=10 &&this.correct>7){
                this.imgSrc="https://sayingimages.com/wp-content/uploads/pissed-off-face-winner-meme.jpg";
                }
       },
       checkIfQuestionisCorrect(){
           for(let i=0; i<10;i++){
               if(this.arrayOfAllCorrectAnswers[i]===this.arrayOfAnswerFromPlayer[i]){
                   this.arrayOfAnswerFromPlayer[i];
                   this.arrayOfCorrectOrFalse[i]="Correct";
                   
               }
               else if(this.arrayOfAllCorrectAnswers[i]!=this.arrayOfAnswerFromPlayer[i]){
                   this.arrayOfAnswerFromPlayer[i]; 
                    this.arrayOfCorrectOrFalse[i]="Wrong";

               }
           }
       },
        displayQuestionsAndAnswers(){
            this.questionsAndAnswers=!this.questionsAndAnswers;
       },   

       startOver(){
           location.reload();
       }
      
   },
   mounted:function(){
       this.chooseMeme();
       this.checkIfQuestionisCorrect();
   }
}



</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.welcome{
    padding-left: 20%;
    padding-right:20%;
}
h1{
    color:black;
    border-style: solid;
    border-width: 10px;
    box-shadow:0 0 0 10px red, 0 0 0 20px yellow, 0 0 0 40px green;
    background-color: aqua;
    }
    h2{
        margin-top: 10%;
    }
button{
    margin-top:0;
}
p{
    margin-top: 5%;
}
img{
    width:50%;
}
.allQuestions{
    text-align: center;
    margin-left:10%;
    margin-right: 10%;
        outline: 1px solid #000;

}
li{
    padding-top: 0.5em;
}
.allAnswers{
    display:flex;
align-items: center;
  justify-content: center;}
.wrongAnswers{
            outline: 1px solid #000;
            border-style: solid;
            padding: 0 1em 1em 0;

}
.correctAnswers{
            outline: 1px solid #000;  
             border-style: solid;
            padding: 0 1em 1em 0;
}
.CorrectOrWrong{
     outline: 1px solid #000;  
             border-style: solid;
            padding: 0 1em 1em 0;
}
h5{padding:0;
margin:0;
font-size:1.2em;}
</style>
