<template>
  <div class="welcome">
      <h1>{{"Quiz Master"}}</h1>
     
  </div>
</template>

<script>
   

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.welcome{
    padding-left: 20%;
    padding-right:20%;
}
h1{
    color:black;
    border-style: solid;
    border-width: 10px;
    box-shadow:0 0 0 10px red, 0 0 0 20px yellow, 0 0 0 40px green;
    background-color: aqua;
    }

    

</style>
