<template>
  <div id="app">
    <div v-if="startPage">
    <WelcomeTrivia/>
     <button @click="startQuiz()">"Press here to start"</button>
    </div>
    <div v-if="inGame">
      <div class="question-form">
       <p v-html="currentQuestion"></p>
       </div>
       <button v-for="answer of allAnswers" :key="answer" v-on:click="checkIfQuizIsDone(),checkAnswer(answer)" v-html="answer"> </button>
    </div>
    <div v-if="results">
      <ResultScreen :correct="correct" :arrayOfAllQuestions="arrayOfAllQuestions" :arrayOfAllCorrectAnswers="arrayOfAllCorrectAnswers" :arrayOfAnswerFromPlayer="arrayOfAnswerFromPlayer"/>
    </div>
  </div>
</template>

<script>
import WelcomeTrivia from './components/WelcomeTrivia.vue';
import ResultScreen from './components/ResultScreen.vue';

export default {
  name: 'App',
  components: {
    WelcomeTrivia,
    ResultScreen
  },
  data(){
    /*Data that is used in the application */
    return{
      startPage:true,
      inGame:false,
      results:false,
      questions:[],
      currentQuestion:0,
      wrongAnswers:[],
      allAnswers:[],
      correct:1,
      questionNumber: 0,
      arrayOfAllQuestions: [],
      arrayOfAllCorrectAnswers:[],
      arrayOfAnswerFromPlayer: []
    }

  },
  /*Method for showing the ingame screen an calling the getQuestionAndAnswer*/ 
  methods:{
    startQuiz(){
      this.startPage=false;
      this.inGame=true;
      this.getQuestionsAndAnswers();  
    },
    getQuestionsAndAnswers(){
   
       try{
        this.currentQuestion=this.questions[this.questionNumber].question;
        this.arrayOfAllQuestions.push(this.currentQuestion);
        this.wrongAnswers= this.questions[this.questionNumber].incorrect_answers;
        this.correctAnswer=this.questions[this.questionNumber].correct_answer;
         this.arrayOfAllCorrectAnswers.push(this.correctAnswer);
      }
      catch(error){
        console.log(error);
      }
      for(let i=0; i<3;i++){
        this.allAnswers.push(this.wrongAnswers[i]);
      }
      this.allAnswers.push(this.correctAnswer);
      this.shuffleArray(this.allAnswers);
    },

    /*Shuffles the Array*/ 
    shuffleArray(inputArray){
      for(let i = inputArray.length-1; i > 0; i--){
      const j = Math.floor(Math.random() * i)
      const temp = inputArray[i]
      inputArray[i] = inputArray[j]
        inputArray[j] = temp
      }
    },
    checkAnswer(AnswerFromPlayer){
      this.arrayOfAnswerFromPlayer.push(AnswerFromPlayer);
      if(this.questionNumber===9){
        return;
      }
      /*Checking if answer is correct*/
      if(AnswerFromPlayer===this.correctAnswer){
        this.correct++;
        if(this.questionNumber<9){
        this.questionNumber++;
        }
        this.allAnswers=[];
        this.getQuestionsAndAnswers();

      }
      else{
           if(this.questionNumber<9){
               this.questionNumber++;
        }
          this.allAnswers=[];
          this.getQuestionsAndAnswers();
      }
    },
    /*Display result screen if quiz is done is called when quiz is done  */ 
    checkIfQuizIsDone(){
      if(this.questionNumber===9){
        this.startPage=false;
        this.inGame=false;
        this.results=true;
      }

      }
  },
  /*Calling function when start screen is loaded */ 
  mounted:function(){
    fetch("https://opentdb.com/api.php?amount=10&category=11&difficulty=medium&type=multiple",{
      method: 'get'
    })
    .then((res=>res.json()))
    .then((data)=>{
      this.questions=data.results
  
    })
   
  }
}
</script>

<!-- Removed scoped in order to have same styling for future pages -->
<style >
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
button{
    margin-top: 25%;
    width:25%;
    border-radius: 50%;
    padding:1em;   
}
button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  cursor:pointer;
}
p{
  font-size: 1.5em;
}
.question-form{
  height:5em;
}
</style>
